/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e fundo */
body {
    background-image: url("images/galeria-3-abandono-3.jpg");
    background-size: cover;      /* cobre a tela inteira */
    background-position: center; /* centraliza */
    background-repeat: no-repeat;/* não repete */
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 2.5rem;
}

header p {
    margin-top: 10px;
    font-size: 1.1rem;
}

#fase-programacao {
    font-size: 0.9rem;
    opacity: 0.9;
    color: red
}

/* Seções */
section {
    max-width: 900px;
    margin: 30px auto;
    padding: 25px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}

/* Efeito hover */
section:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    background: rgba(255, 255, 255, 1);
}

h2 {
    margin-bottom: 15px;
    color: #4facfe;
}

/* Texto */
p {
    margin-bottom: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background: #222;
    color: #ccc;
    font-size: 0.9rem;
}

/* Responsivo */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.8rem;
    }

    section {
        margin: 15px;
        padding: 20px;
    }
}

.language-switch{
    position: fixed;
    top: 20px;
    right: 20px;

    display: flex;
    gap: 10px;

    z-index: 1000;
}


.language-switch button{

    width: 55px;
    height: 55px;

    border: none;
    border-radius: 50%;

    background: rgba(147, 9, 240, 0.15);
    backdrop-filter: blur(8px);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    overflow: hidden;

    transition: 0.25s;
}


.language-switch button img{

    width: 30px;
    height: 30px;

    object-fit: contain;

    display: block;

}


.language-switch button:hover{

    transform: scale(1.1);

}

.animando{

    opacity: 0;

    transform: translateY(10px);

    transition: 0.35s ease;

}