body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Caixa central */
.container {
  text-align: center;
  padding: 40px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  backdrop-filter: blur(8px);
}

/* Título */
h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #cbd5e1;
}

/* Valor principal */
h2 {
  font-size: 4rem;
  margin: 0;
  color: #48f838;
  text-shadow: 0 0 10px rgba(56, 248, 72, 0.5);
  transition: 0.3s ease;
}

/* Efeito de “mudança” */
h2.update {
  transform: scale(1.1);
}

.language-switch{
    position: fixed;
    top: 20px;
    right: 20px;

    display: flex;
    gap: 10px;

    z-index: 1000;
}


.language-switch button{

    width: 55px;
    height: 55px;

    border: none;
    border-radius: 50%;

    background: rgba(147, 9, 240, 0.15);
    backdrop-filter: blur(8px);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    overflow: hidden;

    transition: 0.25s;
}


.language-switch button img{

    width: 30px;
    height: 30px;

    object-fit: contain;

    display: block;

}


.language-switch button:hover{

    transform: scale(1.1);

}

.animando{

    opacity: 0;

    transform: translateY(10px);

    transition: 0.35s ease;

}